swissparlpy.egg-info
*.pyc
*.swp
.coverage
__pycache__/
pyenv
.env
dist/
examples/voting50/
examples/.ipynb_checkpoints/
.mypy_cache/
website/_site/
website/.jekyll-cache/
website/.bundle/
website/vendor/
