name: Upload Python Package

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flit
    - name: Build and publish
      env:
        FLIT_USERNAME: ${{ secrets.PYPI_USERNAME }}
        FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m flit publish
